body {
    color: black;
    background-image: url("green.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.content-title {
    background-color: rgba(95, 57, 0, 0.65);
    color: white;
    padding: 2%;
}


.content {
   margin-bottom: 10px;
   margin-top: 5px;
   background-color: rgba(1, 82, 1, 0.8);
   color: white;
   padding: 5%;
   border: 5px solid;
   border-radius: 20px;
}
.content button {
    background-color: rgb(87, 51, 5);
    color: white;
    border-radius:30% !important;
    margin: 2px;
    padding: 2%;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#form-container {
    color: white;
    margin-top: 10px;
}

#new-bean-form {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.50);

}

.side-button {
    border-radius:100% !important;
   height: 80px;
   width: 140px;
    background-color: hsla(120, 65%, 28%, 0.75);
    color: white;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-left: 
}

.side-box {
    position: fixed;
    
}

#content-div {
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 0;
     margin-top: 0;
     width: 400px;
     height: 100%;
 }
 
a {
    text-decoration: none;
    color: white;

  }

  a:hover {
    text-decoration: underline !important;
  }

  hr {
    border: 1px solid white;
    width: 100% !important;
  }


 header {
     font-size: large;
 }
